.faq
	padding-top 65px
	padding-bottom 75px
	position relative
	&__background
		position absolute
		width 100%
		bottom -90px
		height 1616px
		overflow hidden
		z-index -1
		&_inner
			position absolute
			width 150%
			right 0
			height 950px
			background-image linear-gradient(to left, #d0ebfc 0%, #e0d7c7 100%)
			transform rotate(-23deg)
			transform-origin 100% 0%

	h2
		text-align center
		padding-bottom 45px
	&__item
		position relative
		width 100%
		padding 55px 55px 50px 75px
		box-shadow 0 0 10px rgba(180,180,180,0.27), 20px 20px #dcecf4
		background-color #ffffff
		margin-bottom 20px
		h3
			color #1d242c
			text-transform uppercase
			font 700 20px mainFont
			padding-bottom 20px
		p
			display block
			color #2d3c4e
			font 400 20px mainFont
		&::before
			position absolute
			top 42px
			left -45px
			width 90px
			height 90px
			border-radius 50%
			font 700 40px mainFont
			line-height 90px
			text-align center
			color #fff
	&__item:nth-child(1)
		&::before
			content '01'
			box-shadow 0 0 68px rgba(132, 142, 154, 0.2)
			background-color #848e9a
		&:hover
			background-color #98a1ac
	&__item:nth-child(2)
		&::before
			content '02'
			box-shadow 0 0 68px rgba(178, 219, 244, 0.2)
			background-color #b2dbf4
		&:hover
			background-color #a1cbe5
	&__item:nth-child(3)
		&::before
			content '03'
			box-shadow 0 0 68px rgba(255, 76, 124, 0.2)
			background-color #ff4c7c
		&:hover
			background-color #f68ba8
	&__item:nth-child(4)
		&::before
			content '04'
			box-shadow 0 0 68px rgba(248, 160, 139, 0.2)
			background-color #f8a08b
		&:hover
			background-color #edbdb2
	&__item:hover
			transition background-color 0.25s linear

.faq__plus,
.faq__minus
	display none
	width 20px
	height 20px
	position relative
	left 80px
	cursor pointer
.faq__plus
	&_h
		position absolute
		width 20px
		left 0
		top 7.5px
		height 5px
		background-color #909090
	&_v
		position absolute
		width 5px
		height 20px
		top 0
		left 7.5px
		background-color #909090
.faq__minus
	.faq__m
		position absolute
		width 20px
		left 0
		top 7.5px
		height 5px
		background-color #ffcc00
@media screen and (max-width: 1300px)
	.faq
		&__item
			width 98%

@media screen and (max-width: 1200px)
	.faq
		padding-top 30px
		padding-bottom 50px
		h2
			font-size 40px
			line-height @font-size + 6px

@media screen and (max-width: 768px)
	.faq
		padding-bottom 0
		&__background
			height 1280px
			bottom 0
			&_inner
				height 930px
				width 300%
				transform rotate(-25deg)
		h2
			padding-bottom 88px
		&__item
			margin-bottom 40px
			padding-bottom 30px
			&::before
				width 64px
				height 64px
				top -32px
				left 140px
				font-size 28px
				line-height 64px	
			h3
				text-align center
			p
				display none
	
	.faq__plus
		display block
