section.faq#faq

	.faq__background
		.faq__background_inner
	
	.container
		.row
			.col
				h2.text_color_gray f.a.q.s
		.row
			.col
				ul.faq__list
					li(data-aos='fade-left' data-aos-offset='50').faq__item
						h3 How Do You Determine Which Coins to Buy?
						p Inside of CryptoSig, we have a requests section where you can request ANY coin to be added to our watch list. Once a coin is in our watch list and we feel it's a good buy, you’ll be getting a signal.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='50' data-aos-offset='50').faq__item
						h3 How Many Signals Do You Post Per Day?
						p We only post signals when we’re 100% confident of the trade. This means that if the market as a whole is in a down trend, we may not post at all. Other days when the market is performing better, we may post 4-5 in a day.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='100' data-aos-offset='50').faq__item
						h3 How Do We Know When to Get Out of a Trade?
						p We send a suggested selling point out with all of our signals. We usually suggest setting your sell order at or <strong>around</strong> that price. We also provide the immediate support and resistance levels, but NOT a stop loss. If a trade starts to go bad, we will provide an update at that time.<br><br>Also, we send out all of our signals in a very specific format, it is: <strong>Signal # [RISK LEVEL] Coin/Market (Exchange): Buy Value -> Sell Target Value (% Gain Goal) {link to coin on exchange}</strong>
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='150' data-aos-offset='50').faq__item
						h3 How Are the Signals Delivered?
						p We have a private slack group with a very active community of crypto traders. We have a main signal channel, a requests channel, technical and fundamental analysis channels, a news channel and a general chat where you can interact with the rest of the community.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
