section.faq#faq

	.faq__background
	svg(width="0" height="0").clip-svg
		defs
			clipPath#clip-shape-faq(clipPathUnits="objectBoundingBox")
				polygon(points="0 0.6, 1 0, 1 0.6, 0.3 1, 0 1")
	
	.container
		.row
			.col
				h2.text_color_gray f.a.q.s
		.row
			.col
				ul.faq__list
					li(data-aos='fade-left' data-aos-offset='50').faq__item
						h3 How Do You Determine Which Coins to Buy?
						p Inside of CryptoSig, we have a requests section where you can request ANY coin to be added to our watch list. Once a coin is in our watch list and we feel it's a good buy, you’ll be getting a signal.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='50' data-aos-offset='50').faq__item
						h3 How Many Signals Do You Post Per Day?
						p We only post signals when we’re 100% confident of the trade. This means that if the market as a whole is in a down trend, we may not post at all. Other days when the market is performing better, we may post 4-5
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='100' data-aos-offset='50').faq__item
						h3 Do You Also Provide Sell Signals?
						p Yes! We suggest capturing small 5-10% gains and compounding your profits. However, if you're one of the risky ones, you could see some of the gains like shown in the spreadsheet above.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
					li(data-aos='fade-left' data-aos-delay='150' data-aos-offset='50').faq__item
						h3 How Are the Signals Delivered?
						p We have a private slack group with a very active community of crypto traders. We have a main signal channel, a requests channel, a news channel and a general chat where you can interact with the rest of the community.
						.faq__plus
							.faq__plus_h
							.faq__plus_v
						.faq__minus
							.faq__m
