.button
  width 138px
  height 41px
  // position relative
  display inline-flex
  align-items center
  justify-content center
  vertical-align bottom
  // min-height 2.56rem
  // padding .25rem 1rem
  border 0
  border-radius 4px
  // box-shadow 0 0.125rem 0 #b7600d, inset 0 0 0 rgba(184, 191, 142, 0.34)
  // background-color #fda118
  background-image linear-gradient(to right, #ca3e50 0%, #ff004e 100%)
  // text-shadow 0 0 0 rgba(184, 191, 142, 0.25)
  color #fff
  font 700 16px mainFont
  line-height 1.5rem
  text-transform uppercase
  text-align center
  cursor pointer
  text-decoration none
  transition background 1s linear
  &:hover
    color #000
    background-image linear-gradient(to right, #fcca00 0%, #fff405 100%)
  &_block
    width 100%
  &_lg
    height 50px
    width 288px
    padding .5rem 1.35rem
    font-size 30px
  &_white
    color pink
    background-image linear-gradient(to right, #fff 0%, #fff 100%)
    &:hover
      color #fff
      background-image linear-gradient(to right, #ca3e50 0%, #ff004e 100%)

@media screen and (max-width: 1200px)
  .button
    width 105px
    height 31px
    font-size 12px
    &_lg
      height 50px
      width 288px
      padding .5rem 1.35rem
      font-size 30px