.techAnalize
	font-size 20px
	position relative
	&__plan
		box-shadow 0 0 59px rgba(218, 238, 250, 0.35)
		border-radius 4px
		padding-bottom 292px
		background-color rgba(255,255,255, 0.85)
	&__title
		color textDark
		text-align center
		position relative
		padding-bottom 40px
		padding-top 60px
		&::after
			content ''
			position absolute
			width 286px
			height 1px
			background-color #bfc4ca
			bottom 0
			left 35%
	&__description,
	&__offer,
	&__notifications
		text-align center		
	&__description
		font-weight 500
		color #848e9a
		padding-top 47px
	&__offer
		font-weight 700
		color textDark
		padding-top 25px
	&__notifications
		font-weight 700
		color textDark
		p
			padding-bottom 43px
	&__layout
		position relative
		padding-bottom 160px			
	&__steps
		font-family mainFont
		position absolute
		right 0
		left 0
		top 390px
		z-index 1
		color #2d3c4e
		
.techAnalize
	&__item
		color #2d3c4e
		font 400 20px mainFont
		box-shadow 0 0 10px rgba(180, 180, 180, 0.27)
		background-color #fff
		padding-top 105px
		position relative
		margin-left 20px
		p
			width 185px
			margin 0
		&::before
			position absolute
			top 42px
			left -45px
			width 90px
			height 90px
			border-radius 50%
			font 700 40px mainFont
			line-height 90px
			text-align center
			color #fff
		&::after
			position absolute
			width 100%
			height 335px
			top 20px
			left 20px
			z-index -1
	&__item:nth-child(1)
		width 331px
		height 263px
		padding-left 73px
		&::before
			content '01'
			box-shadow 0 0 68px rgba(248, 160, 139, 0.2)
			background-color #f8a08b
		&::after
			content ''
			background-color #dcecf4
	&__item:nth-child(2)
		width 283px
		height 293px
		padding-left 57px
		&::before
			content '02'
			box-shadow 0 0 68px rgba(255, 76, 124, 0.2)
			background-color #ff4c7c
		&::after
			content ''
			background-color #dee9ed
	&__item:nth-child(3)
		width 283px
		height 263px
		padding-left 57px
		&::before
			content '03'
			box-shadow 0 0 68px rgba(178, 219, 244, 0.2)
			background-color #b2dbf4
		&::after
			content ''
			background-color #e1e5e3
	&__item:nth-child(4)
		width 331px
		height 233px
		padding-left 73px
		&::before
			content '04'
			box-shadow 0 0 68px rgba(132, 142, 154, 0.2)
			background-color #848e9a
		&::after
			content ''
			background-color #e5e2d9

								
@media screen and (max-width: 1380px)
	.techAnalize
		&__item
			padding-top 95px
		&__item:nth-child(1)
			width 265px
			height 263px
		&__item:nth-child(2)
			width 265px
			height 263px
		&__item:nth-child(3)
			width 265px
			height 263px
		&__item:nth-child(4)
			width 265px
			height 263px
		&__item:nth-child(1)
			padding-left 45px
		&__item:nth-child(4)
			padding-left 45px

			
@media screen and (max-width: 1200px)
	.techAnalize
		&__title::after
			left 26%
		&__plan
			padding-bottom 268px
			margin-bottom 410px
		&__steps
			max-width 687px
			margin auto
			top 455px
		&__item
			&::before
				top -53px
				left 99px
			&::after
				width 287px
				height 321px
			p
				width 200px
		&__item:nth-child(1)
			width 288px
			height 263px
		&__item:nth-child(2)
			width 288px
			height 263px
		&__item:nth-child(3)
			width 288px
			height 263px
		&__item:nth-child(4)
			width 288px
			height 263px
		&__item:nth-child(3)
			margin-top 104px
		&__item:nth-child(4)
			margin-top 104px



@media screen and (max-width: 768px)
	.techAnalize
		font-size 18px
		line-height 22px
		&__title
			padding-top 40px
			padding-bottom 33px
			font-size 18px
			&::after
				left 7%
		&__description
			padding-top 30px
		&__plan
			margin-bottom 1120px
		&__steps
			max-width 346px
			top 410px
		&__item
			margin-top 87px
			margin-left 0
			padding-left 45px
			&::after
				top 18px
				left 18px
