section.techAnalize#techAnalize
	.techAnalize__layout
		.container
			.row
				.col
					.techAnalize__plan
						.row.justify-content-center
							.col-12.col-md-11
								h3.techAnalize__title Get Real-Time Updates on Cryptocurrency Trends Using our Cutting-Edge Algorithm… Without Sitting In Front Of Your Computer 24/7
						.row.justify-content-center
							.col-12.col-md-10.col-xl-11
								p.techAnalize__description Technical Analysis of charts can often feel like grinding nails on a chalkboard, and requires you pay constant, 24/7 attention to the charts.
						.row.justify-content-center
							.col-xl-7
								.techAnalize__offer
									p With CryptoSig, we take all the tediousness of TA away from you. 
									p Here’s how:
	.techAnalize__steps
		.container-fluid
			.row.justify-content-center
				.col
					.techAnalize__list.d-flex.justify-content-center.flex-wrap
						.techAnalize__item
							p Our custom-made algorithm detects trade setups with a high probability of profit.
						.techAnalize__item
							p We do manual TA on the signals to make sure they aren’t a false positive or a bad signal.
						.techAnalize__item
							p You get the signal to buy/sell, and simply type it into our favorite exchange.
						.techAnalize__item
							p And that’s it! The setup plays out, and you cash out.
	.techAnalize__notifications
		.container
			.row.justify-content-center
				.col-12.col-xl-10
					p You’ll receive around 3 to 5 signals daily that you can use to make high-probability trades. Simply wait for the notification, place the trade, and it’s done!
			.row
				.col-12
					.home__button.d-flex.justify-content-center
						a(href="#").button.button_lg join today!

