section.plan#plan
	.container
		.row.justify-content-center
			.col.col-md-6.col-xl-8
				h2.plan__caption Pick The Plan That Works Best For You, And Gain Instant Access!
				.plan__winner(data-aos='fade-right' data-aos-duration='800')
		.row.justify-content-end
			.col-xl-6
				.plan__set.justify-content-center
					.plan__title
						p One Signal Paid for entire monthly fee!
					.plan__package
						ul.plan__list(data-aos='fade-up' data-aos-duration='800')
							li.plan__item(data-aos='fade' data-aos-delay='600' data-aos-offset='50') Unlimited High-Probability Signals
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='650' data-aos-offset='50') 24/7 Access To Expert Trader Community
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='700' data-aos-offset='50') Request Custom Coin Reports
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='750' data-aos-offset='50') Access to ICO Channel Discussions
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='800' data-aos-offset='50') Get Answers To All Your Trading Questions
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='850' data-aos-offset='50') Expert Level Crypto Analysis
								i.fas.fa-check

		.row(data-aos='fade-up' data-aos-duration='800')
			.col-md-4
				.plan__prices.plan__prices_monthly.justify-content-center
					.plan__price_wrap
						p.plan__price #[span.currency $] 97#[span.period / mo]
						h2 Pay Monthly
						p Cancel Any Time
					button#plan__button_monthly.plan__button.button(data-vex-toggle="join") Join now!
			.col-md-4
				.plan__prices.plan__prices_yearly
					.plan__price_wrap
						p.plan__price #[span.currency $] 697#[span.period / yr]
						h2 Yearly
						p Save #[span.text_color_pink $450+]
					button#plan__button_yearly.plan__button.button(data-vex-toggle="join") Join now!
				.plan__popular
					span MOST POPULAR
			.col-md-4
				.plan__prices.plan__prices_lifetime
					.plan__price_wrap
						p.plan__price #[span.currency $] 1,497
						span.period_onetime.text_color_pink one time charge
						h2 Lifetime Access
						p Incredible Value!
					button#plan__button_lifetime.plan__button.button(data-vex-toggle="join") Join now!
