.plan
	margin-top 170px
	margin-bottom 60px
	&__caption
		text-align center
		color gray
		position relative
		padding-bottom 70px
	&__winner
		position absolute
		top 140px
		left -90px
		width 313px
		height 445px
		background url('../images/winner.png')
		background-size cover
		background-repeat no-repeat
		z-index -1
	&__set
		font 400 20px mainFont
		color #2d3c4e
		position relative
	&__title
		width 588px
		height 104px
		display flex
		justify-content center
		align-items center
		border 3px solid #dcecf4
		position relative
		background-color #fff
		&::before,
		&::after
			content ',,'
			position absolute
			display inline-block
			color #fd3270
			font 400 100px Calendon
			letter-spacing -7px 
		&::before
			top -25px
			left -10px
			transform rotate(180deg)
		&::after
			bottom -25px
			right -10px
	&__package
		padding-top 37px
		padding-bottom 90px
	&__list
		width 588px
		padding 14px 9px 9px 14px
		box-shadow 0 0 10px rgba(180, 180, 180, 0.27), 20px 20px #dcecf4
		position relative
		background-color #fff
	&__item:nth-child(2n+1)
		background linear-gradient(to right, #f1f9fe 0%, #f6f3ee 100%)
	&__item
		width 564px
		height 44px
		padding-left 22px
		padding-right 22px
		display flex
		justify-content space-between
		align-items center
		.fa-check
			color #5ea5d0
			font-size 23px
			display inline-block
			right 5px
	&__prices
		display flex
		justify-content center
		flex-direction column
		align-items center
		width 100%
		box-shadow 0 0 87px rgba(7, 191, 167, 0.15)
		border 3px solid #dcecf4
		background-color #fff
		&:hover
			box-shadow 0 0 90px rgba(7, 191, 167, 0.25)
		h2
			text-align center
			font 700 40px mainFont
			color #848e9a
			text-transform uppercase
		p
			&:last-child
				font-size 20px
				color #848e9a
	&__prices_monthly
		top 40px
	&__prices_lifetime
		top -20px
	&__prices_monthly,
	&__prices_lifetime
		height 516px
	&__prices_yearly
		height 507px
	&__price
		font 500 70px mainFont
		text-transform uppercase
		color pink
		.currency
			font 400 65px mainFont
	.period
		font 500 30px mainFont
		text-transform lowercase
		color pink
	.period_onetime
		font 700 20px mainFont
		text-transform uppercase	
	&__popular
		display flex
		justify-content center
		align-items center
		width 387px
		height 49px
		padding-top 5px
		box-shadow 0 0 87px rgba(7, 191, 167, 0.15)
		border 3px solid #dcecf4
		background-color #848e9a
		span
			font 500 20px mainFont
			text-transform uppercase
			color #fff
	&__button
		position absolute
		bottom 72px
		left 125px
	&__price_wrap
		position relative
		display flex
		justify-content center
		align-items center
		flex-direction column
		z-index 2
		&::after
			position absolute
			content ''
			top -65px
			left 5px
			width 100%
			height 120%
			background-color #fff
			opacity 0.8
			z-index -1
	&__prices_lifetime
		.plan__price_wrap
			&::after
				top -50px
	
.plan
	&__prices_monthly
		&::before
			background url('../images/pay-1.png')
	&__prices_yearly
		&::before
			background url('../images/pay-2.png')
	&__prices_lifetime
		&::before
			background url('../images/pay-3.png')
	&__prices_monthly,			
	&__prices_lifetime,
	&__prices_yearly
		position relative
		&::before
			position absolute
			top 40px
			left 88px
			width 195px
			height 90px
			content ''
			background-size cover
			background-repeat no-repeat

@media screen and (max-width: 1300px)
	.plan
		&__title
			width 545px
		&__list
			width 538px
		&__item
			width 515px
		&__popular
			width 357px
			
@media screen and (max-width: 1200px)
	.plan
		margin-top 40px
		margin-bottom 30px
		&__caption
			font-size 30px
			line-height 36px
		&__winner
			width 244px
			height 346px
			top -80px
			left 290px
		&__title,
		&__list
			margin auto
		&__prices_monthly,
		&__prices_lifetime,
		&__prices_yearly
			height 407px
			&::before
				left 34px
				width 151px
				height 69px
		&__prices_monthly
			top 0
		&__prices_lifetime
			top 0
		&__popular
			width 218px
		&__prices
			h2
				font-size 20px 
			p
				&:last-child
					font-size 16px
		&__price
			font-size 56px 
			.currency
				font-size 52px
		.period
			font-size 24px 
		.period_onetime
			font-size 16px
			padding-bottom 20px
		&__button
			bottom 50px
			left 44px
		&__price_wrap
			&::after
				top -50px
				height 100%
		&__prices_lifetime
			.plan__price_wrap
				&::after
					top -30px
					
@media screen and (max-width: 768px)
	.plan
		margin-top 340px
		margin-bottom 35px
		&__caption
			font-size 25px
			line-height 31px
		&__winner
			width 198px
			height 281px
			top -310px
			left 90px
		&__title
			width 338px
			height 104px
			padding-right 70px
			padding-left 70px
		&__list
			width 330px
			font-size 14px
			box-shadow 0 0 10px rgba(180, 180, 180, 0.27), 20px 15px #dcecf4
		&__item
			width 307px
			padding-left 16px
			padding-right 7px
		&__popular
			width 340px
			margin-top 10px
			margin-bottom 10px
		&__prices_monthly
			margin-bottom 15px
		&__prices_monthly,			
		&__prices_lifetime,
		&__prices_yearly
			&::before
				left 90px
		&__button
			left 115px
