section.plan#plan
	.container
		.row.justify-content-center
			.col.col-md-6.col-xl-8
				h2.plan__caption Pick The Plan That Works Best For You, And Gain Instant Access!
		.row.justify-content-end
			.col-xl-6
				.plan__set.justify-content-center
					.plan__title
						p One Signal Paid for entire monthly fee!
					.plan__package
						ul.plan__list
							li.plan__item Unlimited High-Probability Signals
								i.fas.fa-check
							li.plan__item 24/7 Access To Expert Trader Community
								i.fas.fa-check
							li.plan__item Request Custom Coin Reports
								i.fas.fa-check
							li.plan__item Access to ICO Channel Discussions
								i.fas.fa-check
							li.plan__item Get Answers To All Your Trading Questions
								i.fas.fa-check
							li.plan__item Expert Level Crypto Analysis 
								i.fas.fa-check
		
		.row
			.col-md-4
				.plan__prices.plan__prices_monthly
					.plan__price_wrap
						p.plan__price #[span.currency $] 97#[span.period / mo]
						h2 Pay Monthly
						p Cancel Any Time
					.plan__button.button Join now!
			.col-md-4
				.plan__prices.plan__prices_yearly
					.plan__price_wrap
						p.plan__price #[span.currency $] 697#[span.period / yr]
						h2 Yearly
						p Save #[span.text_color_pink $450+]
					.plan__button.button Join now!
				.plan__popular
					span MOST POPULAR
			.col-md-4
				.plan__prices.plan__prices_lifetime
					.plan__price_wrap
						p.plan__price #[span.currency $] 1,497
						span.period_onetime.text_color_pink one time charge
						h2 Lifetime Access 
						p Incredible Value!
					.plan__button.button Join now!
