section.popup.display_hidden#popup
	.popup_background
	.container
		.popup__wrap
			.popup__payment
				.row
					.col
						.row.justify-content-center
							.col
								h3.text_color_gray Subscribe to CryptoSig
								h2.popup__membership.text_color_pink Lifetime Membership
						.row.flex-column.flex-md-row.justify-content-center
							.col-12.col-md-4
								.popup__card
									img.popup__img(src='./images/credit-card.png')
									button(name='card' type='button').popup__button.button Subscribe
							.col-12.col-md-4
								.popup__paypal
									img.popup__img(src='./images/paypal.png')
									button(name='paypal' type='button').popup__button.button Subscribe
							.col-12.col-md-4
								.popup__crypto
									img.popup__img(src='./images/crypto-coins.png')
									button(name='crypto' type='button').popup__button.button Subscribe
						.popup__exit
							i.fas.fa-times-circle

			p.popup__agreement By purchasing CryptoSig, you agree with our disclaimer and refund policy.
