.perks
	&__row_top
		padding-bottom 75px
	&__row_bottom
		padding-bottom 95px
	&__caption
		color gray
		padding-bottom 35px
	&__title,
	&__description
		text-align center
	&__description
		color #848e9a
		font 400 20px mainFont
		padding-top 20px

@media screen and (max-width: 1200px)
	.perks
		&__row_top
			padding-bottom 0px
		&__caption
			font-size 30px
			padding-bottom 50px
			