section.perks#perks
	.perks__row_top
		.container
			.row.justify-content-center
				.col-11.col-xl-8
					h2.perks__caption Exclusive CryptoSig Member Perks:
			.row
				.col-md-4
					img.perks__img(src='./images/superman.png')
					h3.perks__title XX% Profitable Signals
					p.perks__description Of the XXX signals we’ve sent out, X have been profitable - and they’ve outweighed the losing trades by X,XXX%!
				.col-md-4
					img.perks__img(src='./images/idea.png')
					h3.perks__title 24/7 Expert Trading Community
					p.perks__description Get answers to all your trading questions, and talk with some of the top trading pros in the world, 24/7!
				.col-md-4
					img.perks__img(src='./images/sms.png')
					h3.perks__title Custom Coin Requests
					p.perks__description Don’t see signals on your favorite coin? Message us and we’ll take a look - then let you know if it’s a buy, a hodl, or a sell!
	.perks__row_bottom
		.container
			.row
				.col-md-4
					img.perks__img(src='./images/coins.png')
					h3.perks__title Cure For ICO-Madness!
					p.perks__description Our community comes with a dedicated channel for ICO’s - making it easy to skip all the scams and jump in on the best ICO’s coming up!
				.col-md-4
					img.perks__img(src='./images/clock.png')
					h3.perks__title Your Own Expert Team Of Crypto Analysts
					p.perks__description Finally get some sleep, reduce stress, and know that you’re maximizing your profits - in just 10 minutes per day. Our expert team does all the work for you!
				.col-md-4
					img.perks__img(src='./images/jump.png')
					h3.perks__title Beginner Friendly
					p.perks__description Never trade cryptos before? No problem! You don’t need any knowledge of trading - we’ll teach you everything you need to know to get started!
