.perks
	margin-top 70px
	&__row_top
		margin-bottom 75px
	&__row_bottom
		margin-bottom 95px
		animation-delay 0.25s
	&__caption
		color gray
		padding-bottom 35px
		text-align center
	&__title,
	&__description
		text-align center
	&__description
		color #848e9a
		font 400 20px mainFont
		padding-top 20px

@media screen and (max-width: 1200px)
	.perks
		&__row_top
			padding-bottom 0px
		&__caption
			font-size 30px
			padding-bottom 50px
		&__title,
		&__description
			font-size 14px
			line-height 22px
		&__description
			width 205px

@media screen and (max-width: 768px)
	.perks
		&__caption
			font-size 25px
			line-height 31px
			padding-bottom 0
		&__title
			font-size 20px
		&__description
			width 100%
			font-size 18px
