section.home#home
	.container
		.row
			.col-md-6
				.home__title.text_color_gray
					h1 your expert team of crypto analysts
				.home__caption
					p sending you clear signals Of #[span what to buy and when] to maximize your profits…
				.home__player
					p.home__description #[span Watch the video] below to learn how CryptoSig works:
					iframe.home__video
					p.home__profit.text_center With a track record of 3101.31% profit in just 6 months!
			.col-md-6
				.home__experts
					img.home__img(src='./images/experts.png')