section.home#home

	.home__background
		.inner-block
	svg(width="0" height="0").clip-svg
		defs
			clipPath#clip-shape-home(clipPathUnits="objectBoundingBox")
				polygon(points="0 1, 0 0, 1 0, 1 0.5")
	svg(width="0" height="0").clip-inner-svg
		defs
			clipPath#clip-inner-shape-home(clipPathUnits="objectBoundingBox")
				polygon(points="0 1, 0 0, 1 0, 1 0")

	.container
		.row.justify-content-end.justify-content-xl-start
			.col-10.col-xl-6
				.home__title.text_color_gray
					h1 your expert team of crypto analysts
					.home__caption
						h3 sending you clear signals Of #[span what to buy and when] to maximize your profits…
			.col-1.col-xl-6
				.home__experts
		.row.justify-content-center.justify-content-xl-start
			.col-12.col-xl-6
				.home__player
					h3.home__description #[span Watch the video] below to learn how CryptoSig works:
					.home__video#player
						.home__screen
						//- iframe#ytplayer(type="text/html" width="590" height="331.875" src="https://www.youtube.com/embed/nLCJA4PipIg?enablejsapi=1&modestbranding=1&rel=0" frameborder="0" allowfullscreen)
					p.home__profit.ml-auto With a track record of 3101.31% profit in just 6 months!
		.row
			.col-12
				.home__button.d-flex.justify-content-center
					a(href="#plan").button.button_lg.button_white join today!