section.home#home
	.container
		.row.justify-content-end.justify-content-xl-start
			.col-10.col-xl-6
				.home__title.text_color_gray
					h1 your expert team of crypto analysts
					.home__caption
						h3 sending you clear signals Of #[span what to buy and when] to maximize your profits…
			.col-1.col-xl-6
				.home__experts
		.row.justify-content-center.justify-content-xl-start
			.col-12.col-xl-6
				.home__player
					h3.home__description #[span Watch the video] below to learn how CryptoSig works:
					.home__video#player
					p.home__profit.ml-auto With a track record of 3101.31% profit in just 6 months!
		.row
			.col-12
				.home__button.d-flex.justify-content-center
					a(href="#").button.button_lg.button_white join today!