.home
	padding-top 80px
	p
		text-transform uppercase
		color #848e9a
	&__title
		padding-bottom 34px
	&__caption
	&__description
		font 400 20px mainFont
		span
			font-weight 700
	&__caption
		span
			color #2c3035
	&__description
		padding-top 75px
		padding-bottom 70px
		span
			color pink
	&__profit
		font 700 25px mainFont
		
.home__video
	height 388px
	width 590px
.home__img
	height 925px