// @import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i')

@font-face
   font-family Calendon
   font-style normal
   src url(../fonts/CalendonBlk.ttf)
   
@font-face
   font-family Lato
   font-style normal
   src url(../fonts/Lato-Regular.ttf)

@font-face
   font-family Cabin
   font-style normal
   src url(../fonts/Cabin-Bold.ttf)

@font-face
   font-family Cabin
   font-style normal
   src url(../fonts/Cabin-SemiBold.ttf)
    
@font-face
   font-family Cabin
   font-style normal
   src url(../fonts/Cabin-Medium.ttf)
   
@font-face
   font-family Cabin
   font-style normal
   src url(../fonts/Cabin-Regular.ttf)

// Italic
 
@font-face
   font-family Cabin
   font-style italic
   src url(../fonts/Cabin-BoldItalic.ttf)

@font-face
   font-family Cabin
   font-style italic
   src url(../fonts/Cabin-SemiBoldItalic.ttf)
    
@font-face
   font-family Cabin
   font-style italic
   src url(../fonts/Cabin-MediumItalic.ttf)
   
@font-face
   font-family Cabin
   font-style italic
   src url(../fonts/Cabin-Italic.ttf)