@import '../../../node_modules/vex-js/dist/css/vex.css'


.vex
  display flex
  justify-content center
  align-items center
  padding-top 20px

.vex-content
  position relative
  margin-top auto
  margin-bottom auto
  background none
