section.footer#footer
	.container
		.footer__content
			.row.justify-content-md-between
				.col-12.col-md-8.col-xl-4.order-3.order-md-1
					p.footer__rights © 2018 CryptoSig
				.col-12.col-md-4.col-xl-2.order-1.order-md-2
					ul.footer__socials
						li.footer__sm
							i.fab.fa-facebook-f
						li.footer__sm
							i.fab.fa-twitter
						li.footer__sm
							i.fab.fa-instagram
						li.footer__sm
							i.fab.fa-youtube
						li.footer__sm
							i.fab.fa-google
				.col-12.col-xl-4.order-2.order-md-3
					ul.footer__menu
						li.footer__list 
							a(href="#") Terms Of Service
						li.footer__list 
							a(href="#") Refunds
						li.footer__list
							a(href="#") Privacy
						li.footer__list
							a(href="#") Contact Us
							
