section.footer#footer
	.container
		.footer__content
			.row.justify-content-center.justify-content-md-between
				.col-12.col-md-8.col-xl-4.order-3.order-md-1
					p.footer__rights © 2018 CryptoSig
				.col-8.col-md-4.col-xl-2.order-1.order-md-2
					ul.footer__socials
						li
							a.footer__sm(href="https://www.facebook.com/groups/CryptoCoinMastery/" target="_blank") 
								i.fab.fa-facebook-f
						li
							a.footer__sm(href="https://twitter.com/Crypto_Mastery" target="_blank") 
								i.fab.fa-twitter
						//- li
						//- 	a.footer__sm(href="#") 
						//- 		i.fab.fa-instagram
						li
							a.footer__sm(href="https://www.youtube.com/c/CryptoCoinMastery" target="_blank") 
								i.fab.fa-youtube
						//- li
						//- 	a.footer__sm(href="#") 
						//- 		i.fab.fa-google
				.col-12.col-xl-4.order-2.order-md-3
					ul.footer__menu
						li.footer__item 
							a(href="https://cryptocoinmastery.com/?tcb_lightbox=disclaimer" target="_blank") Terms Of Service
						li.footer__item 
							a(href="https://cryptocoinmastery.com/?tcb_lightbox=disclaimer" target="_blank") Refunds
						//- li.footer__item
						//- 	a(href="#") Privacy
						li.footer__item
							a(href="mailto:cryptosig@cryptocoinmastery.com") Contact Us