.footer
	&__content
		border-top 2px solid #c1c2bc
		padding-top 30px
		padding-bottom 40px
		color gray
		font 400 14px Lato
	&__socials,
	&__menu
		display flex
		justify-content space-between
	&__sm
		color #848e9a
		opacity 0.4
		padding-left 16px
		padding-right 16px
		&:hover
			opacity 1
		
	
@media screen and (max-width: 1200px)
	.footer
		&__menu
			display none
		&__socials
			&:last-child
				padding-right 0
				
@media screen and (max-width: 768px)
	.footer
		&__content
			border-top 0
		&__socials
			padding-bottom 30px
			font-size 16px
		&__sm
			opacity 0.8
		&__menu
			display flex
			border-top 2px solid #c1c2bc
			.footer__item
				a
					display block
					padding 25px 0 30px
		&__rights
			text-align center
		&__menu,
		&__rights
			font-size 12px