section.join#community

	.join__background
	svg(width="0" height="0").clip-svg
		defs
			clipPath#clip-shape-join(clipPathUnits="objectBoundingBox")
				polygon(points="0 1, 0 0.5, 1 0, 1 0.5")

	.container
		.join__community(data-aos='fade-up' data-aos-duration='800')
			.row.justify-content-center
				.col-11.col-md-12.col-xl-8
					h2.join__title Join An Expert Community Of Traders
			.row.justify-content-center
				.col-11.col-md-11
					p No more uncertainty. No more trying to figure out where a chart will go, comparing it to 5 different Technical Analysis books. No more unanswered questions.
					p With CryptoSig, if you don’t know something, or are unsure about a chart - you can ask some of the expert traders in the community for an answer. No matter what time it is, even if it’s the middle of the night.
					p With CryptoSig, you’ll have a helping hand to guide you towards profitable trades, and making sure you grow as a trader.
					p Many members feel this is just as valuable as the signals themselves, if not even more so!
		.join__gains(data-aos='fade-up' data-aos-duration='800')
			.row.justify-content-center
				.col-10.col-md-12.col-xl-8
					h2.join__title How CryptoSig Maximizes Your Gains
			.row.justify-content-center
				.col-11
					p We don’t just analyze charts. We also take into account current market trends, breaking news for the cryptocurrency, and more - combined with our uniquely developed algorithm to find those high probability trades. All that is backed by advanced technical analysis, including trend lines/support lines/resistance lines, and much more.
				.col-10.col-xl-8
					h3 Does our system work? Consider this, and decide for yourself:
			.row.justify-content-center
				.col-10
					.join__profit
						p If you started with $1,000 and did nothing except follow our buy/sell signals, you would have made $XX,XXX profit just X months later!
			.row.justify-content-center
				.col-10.col-xl-11
					p Plus, instead of losing money by *hodling* coins for too long… we find quick profit making opportunities and use them to help you compound your gains again and again!
			a(href="#plan").join__button.button Join today!
