doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./css/style.css')
    script.
      var FontAwesomeConfig = {
        searchPseudoElements: true
      };
    script(defer src='./js/bundle.js')
    script(defer src='./fonts/fontawesome-all.js')
    title CryptoSig - Accurate and Professional Cryptocurrency Signals 
    meta(content= 'CryptoSig is arguably the best solution for you if you&#39;re not sure how to effectively trade cryptocurrencies. Using a cutting edge algorithm we developed, we tell you exactly when the best times to buy and sell coins are.' name='description')
    meta(content="Cryptocurrency Signals,Cryptocurrency Signal service,bitcoin signals,altcoin signals" name="keywords")
    meta(content="CryptoCoinMastery" property="og:site_name")
    meta(content="https://www.facebook.com/CryptoCoinMastery" property="article:publisher")

  body.page
    include ./components/main-header/main-header
    include ./components/home/home
    include ./components/tech-analize/tech-analize
    include ./components/perks/perks
    include ./components/join/join
    include ./components/plan/plan
    include ./components/faq/faq
    include ./components/footer/footer
    include ./components/popup/popup
