.mainHeader
	background-color #f3f9ff
	font 700 16px mainFont
	height 130px
	padding-top 35px
	padding-bottom 40px
	&__img
		height 55px
	&__nav
		width 100%
		display flex
		justify-content space-between
		align-items center
	&__list
		display flex
		text-transform uppercase
		li
			color gray
			padding-right 16px
			&:hover
				color #151e29
		li:last-child
			padding-right 0
	&__button
		position relative
		
@media screen and (max-width: 1200px)
	.mainHeader
		font-size 12px
		&__list
			li:first-child
				display none

@media screen and (max-width: 768px)
	.mainHeader
		padding-top 27px
		padding-bottom 27px
	.mainHeader__nav
		display none
	.mainHeader__logo
		width 100%
		text-align center
		