header.mainHeader(data-aos='fade-down' data-aos-delay='300' data-aos-duration='800')

	.container
		.row.align-items-center.justify-content-center.flex-nowrap
			.col-8.col-md-3.col-xl-3
				.mainHeader__logo
					img.mainHeader__img(src='./images/svg/logo.svg')
			.col
				nav.nav.mainHeader__nav.justify-content-end
					ul.mainHeader__list
						li.mainHeader__item 
							a.mainHeader__link(href="#home") home
						li.mainHeader__item
							a.mainHeader__link(href="#community") expert community
						li.mainHeader__item
							a.mainHeader__link(href="#plan") pick the plan
						li.mainHeader__item
							a.mainHeader__link(href="#faq") faq
			.col-4
				.mainHeader__buttons.d-flex.justify-content-center
					a(href="#plan" data-aos='zoom-in' data-aos-delay='800' data-aos-duration='500').mainHeader__button.mainHeader__button_join.button 
						span(data-aos='flip-up' data-aos-delay='1000' data-aos-duration='800') join today!
					a(href="https://cryptosig.cryptocoinmastery.com/users/auth/slack" data-aos='zoom-in' data-aos-delay='800' data-aos-duration='500').mainHeader__button.mainHeader__button_signIn.button.button_signIn
						span(data-aos='flip-up' data-aos-delay='1000' data-aos-duration='800') sign in
.mainHeader__background(data-aos='fade-down' data-aos-duration='600')
