section.mainHeader#home
	.container
		.row.align-items-center
			.col-md-5.col-xl-6
				.mainHeader__logo
					img.mainHeader__img(src='./images/svg/logo.svg')
			.col-md-7.col-xl-6
				nav.mainHeader__nav
					ul.mainHeader__list
						li.mainHeader__item 
							a.mainHeader__link.active(href="home") home
						li.mainHeader__item
							a.mainHeader__link(href="community") expert community
						li.mainHeader__item
							a.mainHeader__link(href="plan") pick the plan
						li.mainHeader__item
							a.mainHeader__link(href="faq") faq
					a(href="#").mainHeader__button.button join today!
			
