.mainHeader
	position fixed
	top 0
	width 100%
	font 700 16px mainFont
	height 130px
	background-color rgba(243, 249, 255, 1)
	z-index 3
	&__img
		height 55px
		margin-top 35px
		margin-bottom 40px
	&__nav
		width 100%
		display flex
		justify-content space-between
		align-items center
	&__list
		display flex
		text-transform uppercase
		li
			color gray
			padding-right 13px
			&:hover
				color #151e29
		li:last-child
			padding-right 0
	&__button
		position relative
		&_signIn
			margin-left 8px
		
@media screen and (max-width: 1240px)
	.mainHeader
		font-size 14px
		&__nav
			justify-content space-around
		&__list
			li
				padding-right 6px
			li:first-child
				display none
		.button
			width 105px
			height 31px
			font-size 12px
			&_signIn
				width 81px
				height 31px
				margin-left 5px
				
@media screen and (max-width: 1200px)
	.mainHeader
		font-size 11px

@media screen and (max-width: 768px)
	.mainHeader
		height 109px
		&__nav
			display none
		&__logo
			text-align center
		.mainHeader__button_join
			display none
		&__img
			margin-top 27px
			margin-bottom 27px
