section.mainHeader#home
	.container
		.row.align-items-center
			.col-md-6
				img.mainHeader__logo(src='./images/svg/logo.svg')
			.col-md-6
				nav.mainHeader__nav
					ul.mainHeader__list
						li.mainHeader__item 
							a.mainHeader__link.active(href="home") home
						li.mainHeader__item
							a.mainHeader__link(href="community") expert community
						li.mainHeader__item
							a.mainHeader__link(href="plan") pick the plan
						li.mainHeader__item
							a.mainHeader__link(href="faq") faq
					button.mainHeader__button.button join
			
